.project-item {
    background-color: #23262b;
    color: whitesmoke;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .project-info {
    display: flex;
    flex-direction: column;
  }
  
  .project-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: whitesmoke;
  }
  
  .project-details {
    margin-top: 5px;
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 10px;
  }

    .buttons-container
    {
        display: flex;
        flex-direction: row;
    }
  
    #open-button
    {
        display: flex;
        align-self: self-start;
        color: whitesmoke;
        height: 32px !important;
        font-size: 14px;
        font-weight: 400;
        border-radius: 8px;
        background-color: #132a56;
        border-color: #132a56;
    }

    #delete-button
    {
        margin-left: auto;
        color: whitesmoke;
        height: 32px !important;
        font-size: 14px;
        font-weight: 400;
        border-radius: 8px;
        background-color: #f5982e;
        border-color: #f5982e;
    }