    .project-container {
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    #open-button
    {
        display: flex;
        align-self: self-start;
        color: whitesmoke;
        height: 32px !important;
        font-size: 14px;
        font-weight: 400;
        border-radius: 8px;
        background-color: #132a56;
        border-color: #132a56;
    }

    .ContainerTasks
    {
        margin-top: 16px;
        padding: 8px;
        border-radius: 8px;
        background-color: #161a1d;
        display: flex;
        flex-direction: column;
    }

    .ContainerTask
    {
        margin-top: 16px;
        padding: 16px;
        border-radius: 8px;
        background-color: #1e2125;
        display: flex;
        flex-direction: column;
    }

    .task-list
    {
        padding-inline-start: 0 !important;
    }

    .status-block 
    {
        background-color: #161a1d;
        color: whitesmoke;
        border-radius: 4px;
        padding: 10px 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    h2
    {
        margin-block: 0 !important;
    }

    .TaskName
    {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 4px;
    }